.pokemonCard{
   display: inline;
   margin: 20px;
   border: 2px solid rgb(206, 202, 202);
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
}
.pokemon{
   font-weight: 900;
   width: 400px;
   color: #ffffff;
   font-size: x-large;
   display: inline;
   margin: 20px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;  
}
h2{

   border-radius: 40px;
   margin: 20px;
   padding: 10px 20px;
}

.img{
    margin: 10px 10px 20px 10px;
    height: 200px;
   width: 300px;
}
.loader{
   top: 90px;
   display: block;
   position: relative;
   height: 20px;
   width: 140px;
   background-image: 
   linear-gradient(#7752FE 20px, transparent 0), 
   linear-gradient(#7752FE 20px, transparent 0), 
   linear-gradient(#7752FE 20px, transparent 0), 
   linear-gradient(#7752FE 20px, transparent 0);
   background-repeat: no-repeat;
   background-size: 20px auto;
   background-position: 0 0, 40px 0, 80px 0, 120px 0;
   animation: pgfill 1s linear infinite;
 }
 
 @keyframes pgfill {
   0% {   background-image: linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0); }
   25% {   background-image: linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0); }
   50% {   background-image: linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0); }
   75% {   background-image: linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#7752FE 20px, transparent 0); }
   100% {   background-image: linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0), linear-gradient(#4d1cfd 20px, transparent 0); }
 }
 

